<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
{% if image_path %}
    <img src="{{ url_for('static', path=image_path) }}" alt="No Password">
{% endif %}
    <form method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
      <br>
      <input type="submit" value="Login">
    </form>
    {% if token %}
    <a href="/api/docs">Go to API</a>
    {% endif %}
  </body>
</html>
